.book {
  position: relative;
  cursor: pointer;
  width: 174px;
  padding: 10px;
  border-radius: 10px;
}

.book:hover {
  background: #fff;
  outline: 1px solid #f1f1f1;
}

.book:hover .get_in_favorite_btn {
  display: inline-block;
}

.book:hover .book_title {
  overflow: visible;
  height: 100%;
  min-height: 38px;
}

.book_inner:hover .book_img {
  opacity: 0.8;
}

.get_in_favorite_btn {
  position: absolute;
  z-index: 1000;
  right: 0px;
  top: 0px;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  display: none;
}

.get_in_favorite_btn img {
  display: block;
  max-width: 24px;
}

.book_actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* Скрываем кнопки действий по умолчанию */
}

.book:hover .book_actions {
  display: flex; /* Показываем кнопки действий при наведении */
}

.book_buy_button {
  font-size: 14px;
  padding: 6px;
  width: 100%;
  border-radius: 15px;
  border: none;
  background: #3d58b3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.book_buy_button:hover {
  background: #2c3d93;
}

.book_in_cart_button {
  font-size: 14px;
  padding: 6px;
  width: 100%;
  border-radius: 15px;
  border: none;
  background: #d3d3d3; /* Бледный серый цвет */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.book_in_cart_button:hover {
  background: #b3b3b3; /* Темнее при наведении */
}

.book_img {
  display: block;
  width: 156px;
  height: 230px;
  border-radius: 15px;
  transition: opacity 0.1s ease-in-out;
}

.book_info {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.book_title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 3px;
  height: 38px;
  overflow: hidden;
}

.book_author {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}

.book_price {
  font-weight: 500;
  font-size: 14px;
}
