.nav {
  position: relative;
  border-bottom: 1px solid #e6e8ee;
  background: #fff;
}

.nav_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.nav_logo {
  height: 92px;
  display: block;
}

.nav_mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_categories {
  background: #e6e8ee;
  border: none;
  border-radius: 100px;
  padding: 11px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.nav_categories_icon {
  max-height: 11px;
}

.nav_categories span {
  font-weight: 500;
  font-size: 15px;
  margin-left: 5px;
  color: #626b77;
}

.nav_search {
  display: flex;
  justify-content: center;
  position: relative;
}

.nav_search_icon {
  height: 14px;
  position: absolute;
  left: 15px;
  top: 12.5px;
}

.nav_search_input {
  border: 1px solid #e6e8ee;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 10px 0px;
  padding-left: 40px;
  color: #626b77;
  font-size: 15px;
  min-width: 600px;
}

.nav_search_btn {
  border: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 10px 20px;
  background: #3d58b3;
  color: #fff;
  font-size: 15px;
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
}

.nav_link {
  position: relative;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.nav_link img {
  height: 25px;
  margin-bottom: 2px;
}

.nav_link span {
  font-size: 14px;
  color: #626b77;
  font-weight: 500;
}

.nav_link_cart_counter {
  position: absolute;
  top: -7px;
  right: -5px;
  font-weight: 400;
  color: #fff;
  background: #3d58b3;
  border-radius: 20px;
  padding: 2px 6px;
}
